.field-wrapper {
    background: transparent;
    padding: none;
    align-items: center;
}

label {
    font-weight: bold;
    width: max-content;
}

input:not([type="submit"]){
    width: initial;
    flex-basis: auto;
    background-color: rgba(31, 31, 31, 0.678);
    padding: 0.5rem 0.6rem;
    flex-grow: 1;
    border-radius: 7px;
}