<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock title %} | CypherQR</title>
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/global.css') }}"
    />
    {% block style %} {% endblock %}
    {% block scripts %} {% endblock %}
    {%endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>
</html>
