{% extends "base.html" %} {% block title %}Log In {% endblock %} {% block style
%} {{ super() }}
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/form.css') }}"
/>
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/auth/login.css') }}"
/>
{% endblock %} {% block content %}
<main>
    <h3 class="text-center">Login</h3>
    <form action="" method="POST">
        {% for field in form %}
        <div class="field-wrapper">
            {% if field.type == "EmailField" %}
            <img
                    class="field-icon"
                    src="{{ url_for('static', filename='images/user.svg') }}"
                    alt="User svg"
            />
            {% elif field.type == "PasswordField" %}
            <img
                    class="field-icon"
                    src="{{ url_for('static', filename='images/password.svg') }}"
                    alt="User svg"
            />
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Log In"/>
        <p class="text-inline text-center">
            Forget Your Password? <a href="#">Reset Password</a>
        </p>
        <p class="text-inline text-center">
            Don't have an account? <a href="#">Sign Up</a>
        </p>
    </form>
</main>
{% endblock %}
