@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap&text=Cypher QR");

body {
  height: 100vh;
  overflow: auto;
  background-color: var(--clr-dark);
}

main {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: var(--padding-medium);
}

.introduction {
  padding: var(--padding-medium);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.introduction p {
  font-size: 5vw;
  font-weight: 300;
  margin: 0.8rem 0.3rem;
}

.logo {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--fs-large);
  text-align: center;
}

@media screen and (min-width: 1250px) {
  .logo {
    text-align: initial;
  }

  .introduction {
    padding: var(--padding-large);
  }

  .introduction p {
    font-size: 1.8rem;
    text-align: justify;
  }

  main {
    flex-direction: row;
    align-items: center;
  }

  main > * {
    flex-basis: 50%;
  }
}
