{% extends 'base.html' %} {% block title %} Generate QR Code {% endblock %} {%
block style %} {{ super() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/main/index.css') }}"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/main/decode.css') }}"
/>
{% endblock %} {% block scripts %} {{ super() }}
<script
    src="{{ url_for('static', filename='js/main/decode.js') }}"
    defer
></script>
{% endblock %} {%block header %} {% include "header.html" %} {% endblock %}
{%block content %}
<main>
    <section class="palette">
        <h3 class="text-center">Decode QR code</h3>
        <form class="flow col">
            <label for="file">Choose file to upload</label>
            <input type="file" name="file" id="file" required />

            <input class="btn primary" type="submit" value="Decode" />
        </form>
    </section>
</main>
{% endblock %}
