{% extends 'base.html' %} {% block title %} Generate QR Code {% endblock %} {%
block style %} {{ super() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/main/index.css') }}"
/>
{% endblock %} {% block scripts %} {{ super() }}
<script
    src="{{ url_for('static', filename='js/main/index.js') }}"
    defer
></script>
{% endblock %} {%block header %} {% include "header.html" %} {% endblock %}
{%block content %}
<main>
    <div class="tabs-container">
        <input type="radio" name="tab" id="tab-1" checked />
        <input type="radio" name="tab" id="tab-2" />
        <div class="tabs">
            <label for="tab-1">Create QR</label>
            <label for="tab-2">Decode QR</label>
        </div>
        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="panels">
            <div class="panel-1">
                <section class="palette">
                    <textarea
                        rows="6"
                        id="payload"
                        placeholder="Enter your qr code data here E.g: https://google.com, {'hello': 'Hello world'}, etc"
                    ></textarea>
                    <div class="section colors">
                        <h3>Color</h3>
                        <div class="flow">
                            <label for="color-mode">Mode</label>
                            <select name="color-mode" id="color-mode">
                                <option value="solid">Solid</option>
                                <option value="radial">Radial gradient</option>
                                <option value="square">Square gradient</option>
                                <option value="linear">Linear gradient</option>
                            </select>
                        </div>
                        <div class="color-sec solid">
                            <div class="flow">
                                <div class="flow">
                                    <label for="solid-bg"
                                        >Background color</label
                                    >
                                    <input
                                        type="color"
                                        id="solid-bg"
                                        value="#ffffff"
                                    />
                                </div>
                                <div class="flow">
                                    <label for="solid-fg"
                                        >Foreground color</label
                                    >
                                    <input
                                        type="color"
                                        id="solid-fg"
                                        value="#000000"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="color-sec radial square">
                            <div class="flow">
                                <div class="flow">
                                    <label for="bg">Background color</label>
                                    <input
                                        type="color"
                                        id="bg"
                                        value="#ffffff"
                                    />
                                </div>
                                <div class="flow">
                                    <label for="center">Center color</label>
                                    <input
                                        type="color"
                                        id="center"
                                        value="#000000"
                                    />
                                </div>
                                <div class="flow">
                                    <label for="edge">Edge color</label>
                                    <input
                                        type="color"
                                        id="edge"
                                        value="#0000ff"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="color-sec linear">
                            <div class="flow">
                                <div class="flow">
                                    <label for="direction">Direction</label>
                                    <select id="direction">
                                        <option value="linear_horizontal">
                                            Horizontal
                                        </option>
                                        <option value="linear_vertical">
                                            Vertical
                                        </option>
                                    </select>
                                </div>
                                <div class="flow">
                                    <label for="linear-bg"
                                        >Background color</label
                                    >
                                    <input
                                        type="color"
                                        id="linear-bg"
                                        value="#ffffff"
                                    />
                                </div>
                                <div class="flow">
                                    <label for="linear-start"
                                        >Start color</label
                                    >
                                    <input
                                        type="color"
                                        id="linear-start"
                                        value="#000000"
                                    />
                                </div>
                                <div class="flow">
                                    <label for="linear-end">End color</label>
                                    <input
                                        type="color"
                                        id="linear-end"
                                        value="#0000ff"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section shapes">
                        <h3>Shape</h3>
                        <div class="flow">
                            <input
                                type="radio"
                                name="shape"
                                value="squared"
                                id="squared"
                                checked
                            />
                            <label for="squared">
                                <img
                                    class="image-label"
                                    src="{{ url_for('static', filename='images/qr_shape/square_module.png') }}"
                                    alt=""
                                />
                            </label>

                            <input
                                type="radio"
                                name="shape"
                                value="gaped_squared"
                                id="gaped-squared"
                            />
                            <label for="gaped-squared">
                                <img
                                    class="image-label"
                                    src="{{ url_for('static', filename='images/qr_shape/gapped_square.png') }}"
                                    alt=""
                                />
                            </label>

                            <input
                                type="radio"
                                name="shape"
                                value="circle"
                                id="circle"
                            />
                            <label for="circle">
                                <img
                                    class="image-label"
                                    src="{{ url_for('static', filename='images/qr_shape/circle_module.png') }}"
                                    alt=""
                                />
                            </label>

                            <input
                                type="radio"
                                name="shape"
                                value="round"
                                id="round"
                            />
                            <label for="round">
                                <img
                                    class="image-label"
                                    src="{{ url_for('static', filename='images/qr_shape/round_module.png') }}"
                                    alt=""
                                />
                            </label>

                            <input
                                type="radio"
                                name="shape"
                                value="horizontal_bar"
                                id="horizontal_bar"
                            />
                            <label for="horizontal_bar">
                                <img
                                    class="image-label"
                                    src="{{ url_for('static', filename='images/qr_shape/horizontal_bar.png') }}"
                                    alt=""
                                />
                            </label>

                            <input
                                type="radio"
                                name="shape"
                                value="vertical_bar"
                                id="vertical_bar"
                            />
                            <label for="vertical_bar">
                                <img
                                    class="image-label"
                                    src="{{ url_for('static', filename='images/qr_shape/vertical_bar.png') }}"
                                    alt=""
                                />
                            </label>
                        </div>
                    </div>
                    <button id="generate-btn" class="btn primary">
                        Generate
                    </button>
                </section>
            </div>

            <div class="panel-2">
                <section class="decode flow">
                    <h3 class="text-center">Decode QR code</h3>
                    <form class="flow">
                        <label for="file">Choose file to upload</label>
                        <input type="file" name="file" id="file" required />

                        <input
                            class="btn primary"
                            type="submit"
                            value="Decode"
                        />
                    </form>
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock %}
